<div id="deedFeedContainer" class="pull-to-reload-container">

    <div id="deedFeedPullrefresh" class="pull-to-reload-box">
        <div class="message">
            <div id="deedFeedPullrefresh-icon" class="icon arrow arrow-down"></div>
            <span></span>
        </div>
    </div>

    <div id="content" class="full-height">
        <div id="deedFeedContent" class="list-group full-height subpage-body" when-scrolled="loadNextPage()">
            <div class="bg-danger top-bottom-padding" ng-hide="feedSuccess" ng-click="loadFeedData()">
                <center><i class="fa fa-warning "> Could not load Deed Feed</i></center>
            </div>
            <div class="list-group-item" ng-repeat="deed in deedFeed">
                <div ng-click="viewDeedDetails(deed)">
                    <!-- <i class="fa fa-ambulance fa-2x pull-left fa-border"></i> -->
                    <h4 class="list-group-item-heading">{{deed.title}}</h4>
                    <div class="row">
                        <div class="col-xs-3" style="padding-right:0px;" ng-show="getAttachement(deed)">
                            <img style="max-width: 100%;" ng-src="{{getAttachement(deed)}}" />
                        </div>
                        <div ng-class="getAttachement(deed) ? 'col-xs-9' : 'col-xs-12'">
                            <p class="list-group-item-text" >By {{deed.author.name}}</p>
                            <p class="list-group-item-text" >On {{deed.date}} {{deed.name}}</p>
                        </div>
                    </div>
                    <i class="fa fa-angle-right fa-2x deed-more-detail"></i>
                </div>
            </div>
        </div>
    </div>
</div>