<div class="full-height overflow-y-scroll">
	<div class="panel panel-default margin-top">
		<div class="panel-heading">Mobilize the Do-Good Army</div>
		<div class="panel-body">
			<i class="fa fa-bullhorn fa-3x pull-left fa-border"></i>Begin a movement to challenge and inspire each other to live better lives.  Share your most important charitable causes with other civic oriented and like-minded people that are willing to devote their time, treasure, and talent to make the world a better place.  No act of kindness is too small!  
		</div>
	</div>

	<div class="panel panel-default margin-top">
		<div class="panel-heading">Information</div>
		<div class="panel-body">
			<div class="form-group">
	    		<label>Deed Name</label>
	    		<input type="text" class="form-control" ng-model="deed.title" placeholder="Enter Deed Name">
	  		</div>
			<div class="form-group">
	    		<label>Deed Description</label>
	    		<input type="text" class="form-control" ng-model="deed.content" placeholder="Enter Description">
	  		</div>
			<div class="form-group">
	    		<button type="button" ng-click="submitIdea()" class="btn btn-primary btn-lg btn-block">Submit</button>
	  		</div>
		</div>
	</div>
</div>	