<div id="deedIdeasContainer" class="pull-to-reload-container">

	<div id="deedIdeasPullrefresh" class="pull-to-reload-box">
		<div class="message">
			<div id="deedIdeasPullrefresh-icon" class="icon arrow arrow-down"></div>
			<span></span>
		</div>
	</div>

	<div id="content" class="full-height">
		<div id="deedIdeasContent"  class="list-group full-height overflow-y-scroll" when-scrolled="loadNextPage()">
			<div class="content-loader top-bottom-padding" ng-show="feedLoading">
                <center><i class="fa fa-refresh fa-spin"></i> Loading</center>
            </div>
			<div class="list-group-item" ng-repeat="deed in deedIdeas">
				<!-- <i class="fa fa-ambulance fa-2x pull-left fa-border"></i> -->
				<h4 class="list-group-item-heading">{{deed.title}}</h4>
				<p class="list-group-item-text" style="padding-bottom: 10px">Added by {{deed.author.name}}</p>
				<div class="row">
					<div class="col-xs-offset-3 col-xs-6">
						<button type="button" ui-sref="capture({deedId: {{deed.id}}})" class="btn btn-primary btn-block btn-sm">
							<i class="fa fa-camera-retro fa-1x"></i> Capture
						</button>
					</div>
				</div>
			</div>
			<div class="list-group-item">
				<!-- <i class="fa fa-ambulance fa-2x pull-left fa-border"></i> -->
				<h4 class="list-group-item-heading">Add Your Own!</h4>
				<p class="list-group-item-text" style="padding-bottom: 10px">Have you done something not on our list? Create your own deed to share with others.</p>
				<div class="row">
					<div class="col-xs-offset-3 col-xs-6">
						<button type="button" ui-sref="capture({deedId: null})" class="btn btn-primary btn-block btn-sm">
							<i class="fa fa-pencil fa-1x"></i> Create Deed
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>