body {
	/*background-color: LightSeaGreen;*/
	background-color: rgb(53,94,59);
	font-family: Papyrus, fantasy;
}

.loader {
	font-size: 2em;
    padding: 20px;
    color: gainsboro;
    text-shadow: 1px 1px 10px black;
}

.main-logo {
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
}

.navbar-header {
	/*background-color: rgb(127, 23, 31);*/
	/*background-color: LightSeaGreen;*/
	background-color: rgb(53,94,59);
	/*color: gainsboro;*/
	/*color: #3E3E3E;*/
	color: whitesmoke;
	width: 100%;
}

.navbar-brand{
	color: #3E3E3E !important;
	/*color: gainsboro !important;*/
	/*font-size: x-large;*/
	/*font-family: cursive;*/
	padding: 5px;
}

.list-group-item {
	background-color: whitesmoke;
}

.facebook-login {
    background: #3b5998;
    color: white;
}

.facebook-login:hover{
    background: #3b5998;
    color: white;
}

.no-share {
	color: black;
	background: red;
}

.no-share:hover {
	color: black;
	background: red;
}

.btn-default {
	background-color: #3E3E3E;
}

.btn-default:hover {
	background-color: #3E3E3E;
}

.panel-default {
	/*border-color: #59A9F9;*/
	border-color: #283744;
}

.panel-default>.panel-heading {
	/*background-color: lightgoldenrodyellow;*/
	/*background-color: #59A9F9;*/
	background-color: #283744;
	color: whitesmoke;
}